/* pixel perfect sizing */
* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* colors to work with and add to */
:root {
    --pinkish-color: #ca1c8a;
    --dark-blue: #11152b;
    --text-color: #cdd4ff;
    --bright-green: #06b400;
    --dark-green: #167e13;
    --green-transparent: #6aff658a;
    --color-gradient1: linear-gradient(to right, #11152b, #90276b);
    --color-gradient2: radial-gradient(#ffffff5b, #90276b00 40%, transparent);
    --body-background: linear-gradient(#11152b, #252e5e 70%);
    --shadow-button-click: rgb(68, 68, 68);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    background: var(--body-background);
    color: var(--text-color);
    background-attachment: fixed;
}

/* Desktop category button */
.category-button {
    font-size: 1.1rem;
    cursor: pointer;
}

/* grow in size and change color */
ul#top-nav-list > .category-button:hover {
    background: var(--text-color);
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: inset 0 0 0 5px var(--dark-blue); /* instead of border, more discrete transition */
    outline: 1px solid #fff;
    outline-width: 0px 0px 0px 1px;
}

ul#top-nav-list .category-button:hover a {
    font-weight: normal;
    color: var(--dark-blue);
}

.shopping-cart-button {
    background: none;
    border: none;
    color: var(--text-color);
    height: 100px;
    width: 100px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.shopping-cart-button .material-symbols-outlined {
    font-size: 2rem;
}

button {
    cursor: pointer;
}

/* light white color growth */
.shopping-cart-button:hover {
    text-shadow: 0px 0px 20px #fff;
}

/* Number for items in cart */
#cartNumber {
    position: absolute;
    font-size: 0.8rem;
    left: 45%;
    top: 50%;
    background-color: var(--text-color);
    color: #000;
    font-weight: bold;
    padding: 3px;
    border-radius: 50%;
}

#cartNumber:empty {
    display: none;
}

/* mobile and tablet menu button */
.hamburger-menu {
    background: none;
    border: none;
    color: var(--text-color);
    height: 100px;
    width: 100px;
}

/* grow in size and background color change stay when tapped */
.hamburger-menu:focus {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

.hamcontent, .subMenu {
    margin: 1px;
    background: none;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hambmenu dialog {
    padding: 0px;
}

/* Flex on header element with space-between for a spacious layout */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gradient1);
    border-bottom: 1px solid #fff;
}

.headerlogo {
    margin-left: 20px;
}

/* logga och ikon linjerar ordentligt med en flex */
.headerlogo h1 a {
    display: flex;
}

/* logo sizing */
.headerlogo img:first-of-type,
.headerlogo img:last-of-type {
    height: 50px;
}

/* nav flex and fill header */
#topnav {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 0.5 1 500px;
}

/* replace default styling with flex */
#topnav > ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    align-content: center;
    margin: 0;
    padding: 0;
}

/* replace default styling with flex for hamburger menu*/
#hamnav ul {
    margin: 0;
    padding: 0;
}

/* border between menu items */
#topnav > ul > li:not(:hover):not(:first-of-type) {
    border-left: 1px solid #fff;
}

/* border between menu items in hamburger menu */
#hamnav > ul > li {
    border-top: 1px solid var(--dark-blue);
    padding: 1px;
}

/* link fix */
nav ul li,
nav ul li a,
header a {
    color: var(--text-color);
    text-decoration: none;
}

/* menu as flex */
nav ul li {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;
}

/* menu items fill container and centered */
nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(255, 0, 255, 0);
    transition: text-shadow 200ms, color 200ms;
}

/* Style on hamburger category buttons */
#hamnav ul li a {
    padding: 20px;
    background-color: var(--pinkish-color);
    color: var(--text-color);
    border-radius: 5px;
}

/* menu item hover effect */
#hamnav ul li a:active, #hamnav ul li a:hover {
    color: var(--dark-blue);
    box-shadow: 0px 0px 4px 1px var(--dark-blue) inset;
    transition: all 0.1s ease;
}

/* main page category items as grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    padding: 5vw 15vw;
    gap: 5vw;
}

.front-page-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* category items (flex, cursor, hover) */
.main-item, .itemcard {
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    flex: 1 1 250px;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid var(--pinkish-color);
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 200ms, color 200ms;
}

.gallery .main-item:hover,
.gallery .itemcard:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.itemcard {
    flex-direction: column;
    flex: 0 1 250px;
}

.itemcard .card-picture img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
}

.card-header, .card-picture, .main-header, .main-picture {
    align-self: center;
}

/* centering and font size for responsive layout */
.gallery .main-item .main-header {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    font-size: 3vw;
}

/* category background circle on front page */
.gallery .main-item .main-picture {
    background-color: #000;
    border-radius: 50%;
    padding: 20px;
}

/* category icon with linear-gradient coloring */
.gallery .main-item .main-picture .material-symbols-outlined {
    font-size: 5vw;
    background-image: linear-gradient(-45deg, #281863, #90276b);
    color: transparent;
    background-clip: text;
}

.hambmenu {
    display: none;
}

/* smaller screens  */
@media (max-width: 800px) {
    /* category items content flow vertically */
    .gallery .main-item {
        flex-direction: column;
    }
    /* hide large menu */
    nav#largeMenu {
        display: none;
    }
    /* show hamburger menu */
    nav#smallMenu {
        display: block;
    }
    #topnav {
        display: none;
    }
    .hambmenu {
        display: block;
    }
}
@media (max-width: 460px) {
    #logga-text {
        display: none;
    }
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Buy or add to shopping cart button*/
.buy-button {
    background-color: var(--dark-green);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.buy-button:hover {
    background-color: var(--green-transparent);
}

#varukorg {
    display: flex;
    position: relative;
}

#shopping-cart-modal {
    margin: 0;
    left: -195px;
    top: 110px;
    min-width: 300px;
}

/* Formatting for modal product info dialog */
#produktsida {
    background: var(--body-background);
    color: var(--text-color);
    border-radius: 1em;
}

#produktfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#produktbuy {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1em;
}

#produktid {
    display: none;
}

#shopping-cart-display-list {
    list-style: none;
    padding: 0;
}

.shopping-list-item-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.shopping-list-buttons-container {
    text-align: right;
}

.shopping-list-buttons-container p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.shopping-list-buttons-container > div > p:last-of-type {
    display: block;
}

.shopping-list-buttons-container > div > p:last-of-type:after {
    content: " kr";
}

.cart-modal-content {
    display: flex;
    flex-direction: column;
}

.totalSum-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalSum-container h4 + p {
    margin: 0;
}

#totalSum {
    font-weight: bold;
}

.clear-cart-container {
    display: flex;
    justify-content: flex-end;
}

.clear-cart {
    margin: 30px 0 0 0;
    padding: 5px 10px;
    background: var(--text-color);
    border: 1px solid;
    border-radius: 5px;
}

.shopping-list-buttons-container button {
    background: var(--text-color);
    border: none;
    padding: 0 10px;
}

.shopping-list-buttons-container p {
    padding: 0 10px;
}
