/* pixel perfect sizing */
* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* colors to work with and add to */
:root {
    --pinkish-color: #ca1c8a;
    --dark-blue: #11152b;
    --text-color: #cdd4ff;
    --bright-green: #06b400;
    --dark-green: #167e13;
    --green-transparent: #6aff658a;
    --color-gradient1: linear-gradient(to right, #11152b, #90276b);
    --color-gradient2: radial-gradient(#ffffff5b, #90276b00 40%, transparent);
    --body-background: linear-gradient(#11152b, #252e5e 70%);
    --shadow-button-click: rgb(68, 68, 68);
}

/* flex as main layout and default font */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    background: var(--body-background);
    color: var(--text-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* default content styling (padding+centering) */
main,
footer {
    padding: 10px;
}
/* main fill rest of content (vertical) */
main {
    flex: 1 0 10px;
}
/* center content */
footer {
    text-align: center;
}

header nav ul li a:hover {
    color: var(--dark-blue);
}

/* Desktop category button */
.category-button {
    font-size: 1.1rem;
    color: var(--text-color);
    height: 100px;
    width: 100px;
    cursor: pointer;
}
/* grow in size and change color */
ul .category-button:hover {
    background: var(--text-color);
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: bold;
    border: 5px solid var(--dark-blue);
    outline: 1px solid #fff;
    outline-width: 0px 0px 0px 1px;
}
/* Give a light shadow for clicking down appearence */
.category-button:active {
    box-shadow: 0px 0px 4px 1px var(--shadow-button-click) inset;
    transition: all 0.1s ease;
}

.shopping-cart-button {
    background: none;
    border: none;
    color: var(--text-color);
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

/* light white radial color growth and size */
.shopping-cart-button:hover {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

/* changes remain on icon after it's clicked */
.shopping-cart-button:focus {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

/* mobile and tablet menu button -- Pinkish buttons containing icons*/
.icon-menu-button {
    padding: 10px;
    background-color: var(--pinkish-color);
    color: var(--color2);
    border: none;
    border-radius: 10px;
}

/* on tap with finger indictate button is clicked */
.icon-menu-button:active {
    background-color: var(--text-color);
}

/* mobile and tablet menu button */
.hamburger-menu {
    background: none;
    border: none;
    color: var(--text-color);
    height: 100px;
    width: 100px;
}

/* grow in size and background color change stay when tapped */
.hamburger-menu:focus {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

.hamcontent {
    margin: 0px;
    transition: all 0.3s ease;
    background: var(--color-gradient1);
}

/* Flex on header element with space-between for a spacious layout */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gradient1);
    border-bottom: 1px solid #fff;
}

.headerlogo {
    margin-left: 20px;
}
.headerlogo h1 {
    margin: 0px;
}

/* logga och ikon linjerar ordentligt med en flex */
.headerlogo h1 a {
    display: flex;
}

/* logo sizing */
.headerlogo img:first-of-type, .headerlogo img:last-of-type {
    height: 50px;
}

/* nav flex and fill header */
#topnav {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 0.5 1 500px; /* bättre scaling med size 500 än tidigare 100 */
}

/* nav flex and fill header for hamburger menu */
#hamnav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.5 1 100px;
}
/* replace default styling with flex */
#topnav ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    align-content: center;
    margin: 0;
    padding: 0;
}

/* replace default styling with flex for hamburger menu*/
#hamnav ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    align-content: center;
    margin: 0;
    padding: 0;
}

/* border between menu items */
#topnav ul li:not(:hover):not(:first-of-type) {
    border-left: 1px solid #fff;
}

/* border between menu items in hamburger menu */
#hamnav ul li:not(:first-of-type) {
    border-top: 1px solid #fff;
}

/* link fix */
nav ul li,
nav ul li a,
header a {
    color: var(--text-color);
    text-decoration: none;
}

/* menu as flex */
nav ul li {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;
}

/* menu items fill container and centered */
nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(255, 0, 255, 0);
    transition: text-shadow 200ms, color 200ms;
}
/* menu item hover effect (text light up) */
#hamnav ul li a:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff,
        0px 0px 40px #fff;
}

/* main page category items as grid */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5vw 15vw;
    gap: 5vw;
}
/* category items (flex, cursor, hover) */
.main-item, .itemcard {
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    flex: 1 1 250px;
    cursor: pointer;
    border: 1px solid var(--pinkish-color);
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 200ms, color 200ms;
}
.gallery .main-item:hover, .gallery .itemcard:hover {
    color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}
.itemcard {
    flex-direction: column;
    flex: 0 1 250px;
}
.itemcard .card-picture img {
    width: 100%;
    border-radius: 3px;
}
.card-header,
.card-picture {
    align-self: center;
}
.main-header,
.main-picture {
    align-self: center;
}
/* centering and font size for responsive layout */
.gallery .main-item .main-header {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    font-size: 3vw;
}
/* category background circle */
.gallery .main-item .main-picture {
    background-color: #000;
    border-radius: 50%;
    padding: 20px;
    color: #fff;
}
/* category icon with linear-gradient coloring */
.gallery .main-item .main-picture .material-symbols-outlined {
    font-size: 5vw;
    background-image: linear-gradient(-45deg, #281863, #90276b);
    color: transparent;
    background-clip: text;
}

.hambmenu {
    display: none;
}
/* smaller screens  */
@media (max-width: 800px) {
    /* category items content flow vertically */
    .gallery .main-item {
        flex-direction: column;
    }
    /* hide large menu */
    nav#largeMenu {
        display: none;
    }
    /* show hamburger menu */
    nav#smallMenu {
        display: block;
    }
    #topnav {
        display: none;
    }
    .hambmenu {
        display: block;
    }
}
@media (max-width: 460px) {
    #logga-text {
        display: none;
    }
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Buy or add to shopping cart button*/
.buy-button {
    background-color: var(--dark-green);
    color: var(--text-color);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.buy-button:hover {
    background-color: var(--green-transparent);
}

#varukorg {
    position: relative;
}

#shopping-cart-modal {
    margin: 0;
    position: absolute;
    left: -55px;
    top: 110px;
}
/* Formatting for modal product info dialog */
#produktsida {
    background: var(--body-background);
    color: var(--text-color);
    border-radius: 1em;
}

#produktfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#produktbuy {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1em;
}
