/* pixel perfect sizing and default font */
* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* flex as main layout */
body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: 100vh;
	background: var(--body-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* default content styling (padding+centering) */
main,footer {
	padding: 10px;
}
/* Flex on header element with space-between for a spacious layout */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: var(--color-gradient1);
	border-bottom: 1px solid #fff;
}
/* main fill rest of content (vertical) */
main {
	flex: 1 0 10px;
}
/* center content */
footer {
	text-align: center;
}

/* logo sizing */
.headerlogo img:first-of-type {
	height: 50px;
}
.headerlogo img:last-of-type {
	height: 50px;
}

/* nav fill header */
nav {
	height: 100%;
}
/* replace default styling with flex */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
	justify-content: space-around;
}
/* border between menu items */
nav ul li:not(:first-of-type) {
	border-left: 1px solid #fff;
}
/* link fix */
nav ul li, nav ul li a {
	color: var(--text-color);
	text-decoration: none;
}
/* menu as flex */
nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 0;
}
/* menu items fill container and centered */
nav ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: rgba(255,0,255,0);
	transition: text-shadow 200ms, color 200ms;
}
/* menu item hover effect (text light up) */
nav ul li a:hover {
	color: #fff;
	text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 40px #fff;
}

/* default text color */
p, .gallery, footer {
	color: var(--text-color);
}

/* main page category items as grid */
.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	padding: 5vw 15vw;
	gap: 5vw;
}
/* category items (flex, cursor, hover) */
.gallery .main-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	gap: 20px;
	border: 1px solid var(--pinkish-color);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: background-color 200ms;
}
.gallery .main-item:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
/* centering and font size for responsive layout */
.gallery .main-item .main-header {
	display: flex;
	justify-content: center;
	flex: 1 1 0;
	font-size: 3vw;
}
/* category background circle */
.gallery .main-item .main-picture {
	background-color: #000;
	border-radius: 50%;
	padding: 20px;
	color: #fff;
}
/* category icon with linear-gradient coloring */
.gallery .main-item .main-picture .material-symbols-outlined {
	font-size: 5vw;
	background-image: linear-gradient(-45deg, #281863, #90276B);
    color: transparent;
    background-clip: text;
}

/* smaller screens  */
@media (max-width: 700px) {
	/* remove large logo */
	.headerlogo img:last-of-type {
		display: none;
	}
	/* category items content flow vertically */
	.gallery .main-item {
		flex-direction: column;
	}
	/* hide large menu */
	nav#largeMenu {
		display: none;
	}
	/* show hamburger menu */
	nav#smallMenu {
		display: block;
	}
}