* {
    box-sizing: border-box;
}

/* colors to work with and add to */
:root {
    --pinkish-color: #ca1c8a;
    --dark-blue: #11152B;
    --text-color: #CDD4FF;
    --bright-green: #06b400;
    --dark-green: #167e13;
    --green-transparent: #6aff658a;
    --color-gradient1: linear-gradient(to right, #11152B, #90276B);
    --color-gradient2: radial-gradient(#ffffff5b, #90276b00 40%, transparent);
    --body-background: linear-gradient(#11152b, #252e5e 70%);
    --shadow-button-click: rgb(68, 68, 68);
}

body {
    background-color: black;
    color: #cdd4ff;
}

/* Desktop category button */
.category-button {
    font-size: 1.1rem;
    color: var(--text-color);
    background-color: transparent;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 40%;
    cursor: pointer;
}

/* grow in size and change color */
.category-button:hover {
    background: var(--text-color);
    color: var(--dark-blue);
    font-size: 1.2rem;
    border: 1px solid var(--color2);
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

/* Give a light shadow for clicking down appearence */
.category-button:active {
    box-shadow: 0px 0px 4px 1px var(--shadow-button-click) inset;
    transition: all 0.1s ease;
}

.shopping-cart-button {
    background: none;
    border: none;
    color: var(--text-color);
    height: 100px;
    width: 100px;
}

/* light white radial color growth and size */
.shopping-cart-button:hover {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

/* changes remain on icon after it's clicked */
.shopping-cart-button:focus {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

/* mobile and tablet menu button -- Pinkish buttons containing icons*/
.icon-menu-button {
    padding: 10px;
    background-color: var(--pinkish-color);
    color: var(--color2);
    border: none;
    border-radius: 10px;
}

/* on tap with finger indictate button is clicked */
.icon-menu-button:active {
    background-color: var(--text-color);
}

/* mobile and tablet menu button */
.hamburger-menu {
    background: none;
    border: none;
    color: var(--text-color);
    height: 100px;
    width: 100px;
}

/* grow in size and background color change stay when tapped */
.hamburger-menu:focus {
    background: var(--color-gradient2);
    transition: all 0.3s ease;
    transform: scale(1.3, 1.3);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.headerlogo {
    align-content: center;
}

#logga-text {
    @media (width<460px) {
        display: none;
    }
}

nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-content: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    margin: 0;
    gap: 1em;
}

#topnav {
    @media (width<750px) {
        display: none;
    }
}

.hambmenu {
    @media (width>749px) {
        display: none;
    }
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
}

.main-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #cdd4ff;
    border-radius: 1em;
    justify-content: space-around;
    align-self: center;
    padding: 1em;
    margin: 1em;
    width: 250px;
}

.main-header,
.main-picture {
    align-self: center;
}

.itemcard {
    display: flex;
    flex-direction: column;
    border: 2px solid #cdd4ff;
    border-radius: 1em;
    justify-content: space-around;
    align-self: center;
    padding: 1em;
    margin: 1em;
    width: 250px;
}

.card-header,
.card-picture {
    align-self: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Buy or add to shopping cart button*/
.buy-button {
    background-color: var(--dark-green);
    color: var(--text-color);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.buy-button:hover {
    background-color: var(--green-transparent);
}
